USE [master]
GO
/****** Object:  Database [IntegralPAS_Fresher]    Script Date: 1/24/2019 2:44:14 PM ******/
CREATE DATABASE [IntegralPAS_Fresher]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IntegralPAS_Fresher', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IntegralPAS_Fresher.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IntegralPAS_Fresher_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IntegralPAS_Fresher_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IntegralPAS_Fresher].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IntegralPAS_Fresher]
GO
USE [IntegralPAS_Fresher]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 1/24/2019 2:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productname] [varchar](100) NULL,
	[description] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [productname], [description]) VALUES (14, N'Product 1', N'Descripton of Product 1')
INSERT [dbo].[Product] ([id], [productname], [description]) VALUES (15, N'Product 2', N'Descripton of Product 2')
INSERT [dbo].[Product] ([id], [productname], [description]) VALUES (16, N'Product 3', N'Descripton of Product 3')
SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
